<!DOCTYPE html>
<html lang="pt_br">
    <%- include ../../partials/header.ejs %>
    <body>
        <%- include ../../partials/navbar.ejs %>
        <div class="container">
            <h2>Usuários</h2>
            <a href="/admin/users/create" class="btn btn-success">Criar novo usuário</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                            <td>
                                <a class="btn btn-warning" href="/admin/user/edit/<%= user.id %>">Editar</a>
                                <form method="post" action="/admin/user/delete" onsubmit="confDel(event, this)">
                                    <input type="hidden" name="id" value="<%= user.id %>">
                                    <button class="btn btn-danger">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </body>
    <%- include ../../partials/bootstrap_scripts.ejs %>
    <script>
        function confDel(event, form) {
            event.preventDefult();
            if(confirm("Tem certeza que deseja excluir essa categoria?")){
                form.submit();
            };
        };
    </script>
</html> 